body{
    background-color: rgb(148, 136, 255);
}

.login-container{
    margin-top: 50%;
}

.login-container .input-container{
    position: relative;
    margin-bottom: 2rem;
}

.login-container .input-container input[type="text"],
.login-container .input-container input[type="password"] {
    padding: .5rem 0 .5rem 2rem;
    border-radius: 10px;
    box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .3);
    border: none;
}

.login-container input[type="submit"]{
    margin-top: 1rem;
    margin-left: 1rem;
    padding: .5rem 12rem .5rem .5rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .3);
    border: none;
}

.login-container .input-container .icon{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(148, 136, 255);
}

.login-container .input-container .arrow{
    position: absolute;
    left: 14rem;
    top: 70%;
    transform: translateY(-50%);
    color: rgb(148, 136, 255);
}

.shape-container{
    content: '';
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}

.element-one{
    content: '';
    height: 40rem;
    width: 22rem;
    background: #ffffff;
    margin-left: -10rem; margin-top: -18rem;
    transform: rotate(45deg);
    border-radius: 50px;
}

.element-two{
    content: '';
    height: 15rem;
    width: 12rem;
    background: rgb(107, 91, 255);
    margin-left: 12rem; margin-top: 1rem;
    transform: rotate(45deg);
    border-radius: 50px;
}

.element-three{
    content: '';
    height: 50rem;
    width: 10rem;
    background: rgb(80, 61, 255);
    margin-left: 12rem; margin-top: -50rem;
    transform: rotate(45deg);
    border-radius: 50px;
}

.socials{
    color: #fff;
    margin-top: 15rem;
    margin-left: 11rem;
    text-align: center;
}

.socials .social-icons ul{
    list-style: none;
    display: flex;
}

.socials .social-icons ul li{
    margin: 0rem 1rem;
}

.socials .social-icons ul li a{
    color: #fff;
}

.socials .social-icons ul li a:hover{
    color: aquamarine;
}